.divisor{
    display: flex;
    align-items: center;
}

.general{
    display: inline-block;
}

.icon{
    width: 5%;
}

.ticket{
    width: 93%;
    margin-left: 2%;
    background-color: #ffffff;
    color: #8E8B85;
    border: none;
    border-radius: 3em/2em; 
}

.div-info-sup{    
    display: flex;
    align-items: center;
    text-align: center;
}

.div-info{
    display: inline-block;
    padding: 15px 0;
}

.btn-asp{
    background-color:#FC4F4F;
    color: white;
}

.margin-left{
    margin-left: 2%;
}
.margin-right{
    margin-right: 2%;
}

.width-2{
    width: 2%;
}
.width-5{
    width: 5%;
}
.width-9{
    width: 9%;
}
.width-10{
    width: 10%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}